# IntelliJ
.idea
*.iml
out
gen

# Obsidian
.obsidian/

# Python
.venv/
__pycache__/
*.pyc

# MkDocs build output
site/

# Build artifacts
*.o
*.a
*.so
a.out
core
core.*
*.pdf

# examples compiled binaries
examples/bin/
